.container {
    position: relative;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .item {
    padding: 20px;
    box-sizing: border-box;
  }
  
  .link {
    text-align: center;
    text-decoration: none;
  }
  
  .image {
    width:50%;
    height: 50%;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .arrow-left {
    left: 0;
  }
  
  .arrow-right {
    right: 0;
  }
  
  /* Animation */
  .item {
    transition: transform 0.3s;
  }
  
  .item:hover {
    transform: scale(1.1);
  }
  
  /* Responsive Layout */
  @media screen and (max-width: 1080px) {
    .item {
      flex: 0 0 calc(50% - 40px); /* Adjust item width for two items per row */
      max-width: calc(50% - 40px); /* Adjust max-width for two items per row */
    }
  }
  
  @media screen and (max-width: 500px) {
    .item {
      flex: 0 0 calc(100% - 40px); /* Adjust item width for one item per row */
      max-width: calc(100% - 40px); /* Adjust max-width for one item per row */
    }
  }
  