<!-- <ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)"
>
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="" width="100%" />
  </div>
</ngx-slick-carousel> -->
<style>
  .introSliderArea .banners .slick-slide{
    max-height: 400px;
}
.introSliderArea .banners 
{

    ul.slick-dots {
    list-style: none;
    position: absolute;
    margin: 0 auto;
    left: 0;
    color: #fff !important;
    right: 0;
    bottom: 4px;
    text-align: center;
    padding: 0;
    }
    li button
    {
      border: solid 3px #fff;
      border-radius: 50%;
      color: white !important;
      font-size: 0;
      width: 15px;
      height: 15px;
      line-height: 0;
      padding: 0;
      cursor: pointer;
      margin: 0 5px;
      outline: none;
      }
      li.slick-active button {
          background: #fff !important;
      }
.prev_arrow {
    left: 10px;
    position: absolute;
    display: block;
    cursor: pointer;
    top: 50%;
    background-color: #fff;
    z-index:1;
    }
.next_arrow {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 50%;
    right: 10px;
    background-color: #fff;
    z-index:1;
}



  }
/* Dots */

.slick-dotted .banners {
    margin-bottom: 30px;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("./../../assets/1.jpg");
  min-height: 400px;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
</style>
<div class="uspArea">
  <div class="contentWrap">
      <div class="usp">
          <!-- <div class="icon">
                  <img width="70" height="70" src="../../assets/1.jpg" alt="Gift Card Store Pick and Choose">
          </div> -->
          <div class="copy">
              <p>The Research Fellows of the Hopkins Center with the History of Arts at Dartmouth project strive to capture a snapshot of the legacy of Arts at Dartmouth College.</p>
          </div>
      </div>
      <div class="usp">
          <!-- <div class="icon">
              <img width="70" height="70" src="../../assets/1.jpg" alt="Gift Card Store Buy in Bulk">
          </div> -->
          <div class="copy">             
              <p>Through archival research and digital presentation, the project seeks to unwind the complex of Dartmouth’s Arts history. </p>
          </div>
      </div>
      <div class="usp">
          <!-- <div class="icon">
                  <img width="70" height="70" src="../../assets/1.jpg" alt="Gift Card Store trusted partners">
          </div> -->
          <div class="copy">
              <p>The project observes an inclusive approach to presenting sections of Dartmouth’s Arts history by platforming the under-represented and the marginalized in addition to the more mainstream accomplishments of the institution. </p>
          </div>
      </div>
      <div class="usp">
        <!-- <div class="icon">
                <img width="70" height="70" src="../../assets/1.jpg" alt="Gift Card Store trusted partners">
        </div> -->
        <div class="copy">
            <p>The Research Fellows are committed to presenting Dartmouth’s history as a guiding light for its future endeavors. 
            </p>
        </div>
    </div>
  </div>
</div>
<!-- <div class="introSliderArea" style="height:100%">
<div class="slidernew banners">
  <div><img src="./assets/1.jpg" alt="" width="100%" /></div>
  <div><img src="./assets/3.jpg" alt="" width="100%" /></div>
  <div><img src="./assets/1.jpg" alt="" width="100%" /></div>
  <div><img src="./assets/2.jpeg" alt="" width="100%" /></div>
</div>

</div> -->

<!-- <div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Text</span><br>
Some Text goes here
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Text</span><br>
Some Text goes here
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Text</span><br>
Some Text goes here
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Text</span><br>
Some Text goes here
  </div>
</div> -->

<!-- Second Parallax Image with Portfolio Text -->
<!-- <div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">THE HISTORY OF ARTS</span>
  </div>
</div> -->
