<!-- <ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)"
>
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="" width="100%" />
  </div>
</ngx-slick-carousel> -->
<style>
  .sliderArea .banners .slick-slide{
    max-height: 400px;
}
.sliderArea .banners 
{

    ul.slick-dots {
    list-style: none;
    position: absolute;
    margin: 0 auto;
    left: 0;
    color: #fff !important;
    right: 0;
    bottom: 4px;
    text-align: center;
    padding: 0;
    }
    li button
    {
      border: solid 3px #fff;
      border-radius: 50%;
      color: white !important;
      font-size: 0;
      width: 15px;
      height: 15px;
      line-height: 0;
      padding: 0;
      cursor: pointer;
      margin: 0 5px;
      outline: none;
      }
      li.slick-active button {
          background: #fff !important;
      }
.prev_arrow {
    left: 10px;
    position: absolute;
    display: block;
    cursor: pointer;
    top: 50%;
    background-color: #fff;
    z-index:1;
    }
.next_arrow {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 50%;
    right: 10px;
    background-color: #fff;
    z-index:1;
}



  }
/* Dots */

.slick-dotted .banners {
    margin-bottom: 30px;
}

</style>
<div class="sliderArea" style="height:100%">
<div class="slider banners" style="margin-top: 125px;">
  <div><img src="./assets/1.jpg" alt="" width="100%" /></div>
  <div><img src="./assets/3.jpg" alt="" width="100%" /></div>
  <div><img src="./assets/1.jpg" alt="" width="100%" /></div>
  <div><img src="./assets/2.jpeg" alt="" width="100%" /></div>
</div>

<div class="uspArea">
  <div class="contentWrap">
      <div class="usp">
          <!-- <div class="icon">
                  <img width="70" height="70" src="../../assets/1.jpg" alt="Gift Card Store Pick and Choose">
          </div> -->
          <div class="copy">
              <p><b>Study history, study history. In history lies all the secrets of statecraft.</b></p>
              <p>Confucius, Chinese teacher and philosopher (551-479 BC)</p>
          </div>
      </div>
      <div class="usp">
          <!-- <div class="icon">
              <img width="70" height="70" src="../../assets/1.jpg" alt="Gift Card Store Buy in Bulk">
          </div> -->
          <div class="copy">             
              <p><b>If you don’t know history, it’s as if you were born yesterday. If you were born yesterday then any leader can tell you anything.</b></p>
              <p>Howard Zinn, American historian (1924-2010)</p>
          </div>
      </div>
      <div class="usp">
          <!-- <div class="icon">
                  <img width="70" height="70" src="../../assets/1.jpg" alt="Gift Card Store trusted partners">
          </div> -->
          <div class="copy">
              <p><b>Those who do not remember the past are condemned to repeat it.</b></p>
              <p>George Santayana, American philosopher (1863-1952)</p>
          </div>
      </div>
      <div class="usp">
        <!-- <div class="icon">
                <img width="70" height="70" src="../../assets/1.jpg" alt="Gift Card Store trusted partners">
        </div> -->
        <div class="copy">
            <p><b>Study history, study history. In history lies all the secrets of statecraft.</b> </p>
            <p>Confucius, Chinese teacher and philosopher (551-479 BC)</p>
        </div>
    </div>
  </div>
</div>
</div>

<app-contact></app-contact>
