<!-- <div class="container" style="max-width: 100%; justify-content: center; align-items: center; display: flex; margin-top: 1em;">
    <div #flipbookContainer class="flip-book" id="demoBookExample">
        <div class="page page-cover page-cover-top" data-density="hard">
            <div class="page-content">
                <h2>BOOK TITLE</h2>
                <vg-player (onPlayerReady)="onPlayerReady($event)">
                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering></vg-buffering>
                    <vg-controls>
                        <vg-play-pause></vg-play-pause>
                        <vg-playback-button></vg-playback-button>
                        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                        </vg-scrub-bar>
                        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                        <vg-track-selector></vg-track-selector>
                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>
                        <vg-fullscreen></vg-fullscreen>
                    </vg-controls>
                    <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" autoplay="true" crossorigin>
                        <source src="./assets/1.mp4" type="video/mp4">
                    </video>
                </vg-player>
            </div>
        </div>
        <div class="page" *ngFor="let item of pageData">
            <div class="page-content">
                <h2 class="page-header">{{item.header}}</h2>
                <div class="page-image" style="background-image: url({{item.image}})"></div>
                <div class="page-text">{{item.text}}</div>
                <div class="page-footer">Page number here</div>
            </div>
        </div>
        <div class="page page-cover page-cover-bottom" data-density="hard">
            <div class="page-content">
                <h2>THE END</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <button type="button" class="btn-prev">Previous page</button>
        [<span class="page-current">1</span> of <span class="page-total">-</span>]
        <button type="button" class="btn-next">Next page</button>
    </div>
    <div style="display: none;">
        State: <i class="page-state">read</i>, orientation: <i class="page-orientation">landscape</i>
    </div>
</div> -->
<div class="loaderMain"  *ngIf="isLoading"> 
<div class="loader"></div>
</div>
<div id="demoBookExample1">
<div class="container" style="max-width: 100%; justify-content: center; align-items: center; display: flex; margin-top: 1em;">
    <div #flipbookContainer class="flip-book" id="demoBookExample">
      <div class="page page-cover page-cover-top" data-density="hard">
        <div class="page-content">
          <h2>{{pageTitle}}</h2>
          <!-- <vg-player (onPlayerReady)="onPlayerReady($event)">
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
            <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-playback-button></vg-playback-button>
              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>
              <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
              <vg-track-selector></vg-track-selector>
              <vg-mute></vg-mute>
              <vg-volume></vg-volume>
              <vg-fullscreen></vg-fullscreen>
            </vg-controls>
            <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" autoplay="true" crossorigin>
              <source src="./assets/1.mp4" type="video/mp4">
            </video>
          </vg-player> -->
        </div>
      </div>
      <div class="page" *ngFor="let item of pageData; let i = index">
        <div class="page-content">
          <h2 class="page-header">{{item.header}}</h2>
          <div class="page-image" style="background-image: url({{item.image}})"></div>
          <div class="page-text">{{item.text}}</div>
          <div class="page-footer">{{i+2}}</div>
        </div>
      </div>
      <div class="page page-cover page-cover-bottom" data-density="hard">
        <div class="page-content">
          <h2>THE END</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div>
      <button type="button" class="btn-prev">Previous page</button>
      <span style="color:white">[<span class="page-current">1</span> of <span class="page-total">-</span>]</span>
      <button type="button" class="btn-next">Next page</button>
    </div>
    <div style="display: none;">
      State: <i class="page-state">read</i>, orientation: <i class="page-orientation">landscape</i>
    </div>
  </div>
</div>